html, body, .container-fluid { 
	height: 100%; margin: 0; padding: 0; background: black;
}

.panel {
	background:#000;
}

.row1 { 
	height:100%; margin: 0; padding: 0;
}

 .map-panel, #map-canvas{ 
	height:100%; margin: 0; padding: 0;
}

.activity-panel{
	padding: 0; height:100%; margin: 0;
}

.district-panel{
	padding: 1%; height:100%; margin: 0;
}

.district-list-panel{
	height:40%;
	background-color: white;
	overflow-y: scroll; 
}



.district{
	padding:0.5%;
}

.region-buttons{
	margin-top:3%;
}

.list-sm{
	padding-top: 3px;
	padding-right: 5px;
	font-size: 12px;
}